.user {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 10px;
	margin: 50px;
	width: 500px;
	height: 200px;

	border: 1px solid black;
	.address {
		display: flex;
		flex-direction: column;
	}
	p {
		margin: 5px;
		font-weight: bold;
	}
}
.info {
	width: 40%;
}
.users-task2 {
	display: flex;
	flex-direction: column;
}
.user-details {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	right: -900px;
	top: 0;
	width: 800px;
	height: 200px;
	padding: 10px;
	border: 1px solid black;
}
.map {
	position: relative;
	height: 100%;
	width: 55%;
}
.leaflet {
	position: absolute;
	height: 100%;
	width: 100%;
}
.FancyBorder-blue {
	border: 1px solid blue;
}
.FancyBorder-red {
	border: 1px solid red;
}
.FancyBorder-green {
	border: 1px solid green;
}
